body{
    background-color:   #EBECEA;
}
.container-admin-banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px 20px;
}

.logo-admin{
    width: 400px;
}




